{{> _partials/head
    metaTitle=([./helpers/t] i18n.seo "metaTitle" name)
    metaDescription=([./helpers/t] i18n.seo "metaDescription" name)
    ogTitle=([./helpers/t] i18n.seo "ogTitle" name)
    ogDescription=([./helpers/t] i18n.seo "ogDescription" name)
}}

{{> _partials/header
    categoryHeader=true
}}


<main class="container post-wrap">
    <div class="list-group">
        {{#each posts}}
            <a href="{{this.link}}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1">{{this.title}}</h2>
                    <small>2022. 02. 14</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>{{../i18n.clickText}}</small>
            </a>
        {{/each}}
    </div>
</main>

{{> _partials/tail }}