{{> _partials/head
    metaTitle="Test Blog"
    metaDescription="Test blog meta description"
    ogTitle="Test blog og title"
    ogDescription="Test blog og description"
}}

{{> _partials/header
    homeHeader=true
}}

<main>
    <div class="container mt-5">
        {{#each latestPosts}}
            <a class="list-group-item list-group-item-action" href="{{{ this.link }}}">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1">{{{this.title}}}</h2>
                    <small>{{{ this.updatedAt }}}</small>
                </div>
                <p class="mb-1">{{{ this.description }}}</p>
            </a>
        {{/each}}
    </div>
</main>

{{> _partials/tail }}