{{> _partials/head
    metaTitle="Test Blog"
    metaDescription="Test blog meta description"
    ogTitle="Test blog og title"
    ogDescription="Test blog og description"
}}

<div>
    <h1>404! Not Found.</h1>
</div>

{{> _partials/tail }}