{{> _partials/head
    metaTitle=metaTitle
    metaDescription=metaDescription
    ogTitle=ogTitle
    ogDescription=ogDescription
    otherLocales=otherLocales
}}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<main>
    <h1>{{title}}</h1>
</main>

{{> _partials/tail }}