@import "variables";

body {
  background-color: white;
}

.single-post-header {
  background-color: $bg;
  padding-bottom: 40px;

  .container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .post-category {
    text-align: center;
  }

  .post-meta {
    display: flex;
    justify-content: center;

    span {
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.post-wrap {
  display: grid;
  grid-template-columns: 300px 1fr;

  .post-aside {
    padding: 20px;
  }

  .post-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;

  }
}
